{% extends 'base.html' %}

{% block title %}Confirmer la Suppression de la Livraison{% endblock %}

{% block header %}Confirmer la Suppression de la Livraison{% endblock %}

{% block content %}
    <h2>Supprimer la Livraison</h2>
    <p>Êtes-vous sûr de vouloir supprimer la livraison pour la commande #{{ object.commande.id }} ?</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" style="background-color: #dc3545;">Confirmer la suppression</button>
        <a href="{% url 'livraison:livraison_detail' object.pk %}" class="button" style="background-color: #6c757d;">Annuler</a>
    </form>
{% endblock %}